:root {
  --var-background: #1a1826
  --var-background-alt: #302d41
  --var-primary: #636171
  --var-foreground: #8d95a5
  --var-foreground-alt: #c7c9ff
  --var-red: #b71546
  --var-gray: #48424d

  --var-teal: #356786
  --var-teal2: #3c706a
  --var-brown: #7b5158
  --var-amber: #806f4d
}
