:root {
  --rose-main-base: #191724;
  --rose-main-base-rgb: rgb(25, 23, 36);
  --rose-main-base-hsl: hsl(249, 22%, 12%);
  --rose-main-surface: #1f1d2e;
  --rose-main-surface-rgb: rgb(31, 29, 46);
  --rose-main-surface-hsl: hsl(247, 23%, 15%);
  --rose-main-overlay: #26233a;
  --rose-main-overlay-rgb: rgb(38, 35, 58);
  --rose-main-overlay-hsl: hsl(248, 25%, 18%);
  --rose-main-muted: #6e6a86;
  --rose-main-muted-rgb: rgb(110, 106, 134);
  --rose-main-muted-hsl: hsl(249, 12%, 47%);
  --rose-main-subtle: #908caa;
  --rose-main-subtle-rgb: rgb(144, 140, 170);
  --rose-main-subtle-hsl: hsl(248, 15%, 61%);
  --rose-main-text: #e0def4;
  --rose-main-text-rgb: rgb(224, 222, 244);
  --rose-main-text-hsl: hsl(245, 50%, 91%);
  --rose-main-love: #eb6f92;
  --rose-main-love-rgb: rgb(235, 111, 146);
  --rose-main-love-hsl: hsl(343, 76%, 68%);
  --rose-main-gold: #f6c177;
  --rose-main-gold-rgb: rgb(246, 193, 119);
  --rose-main-gold-hsl: hsl(35, 88%, 72%);
  --rose-main-rose: #ebbcba;
  --rose-main-rose-rgb: rgb(235, 188, 186);
  --rose-main-rose-hsl: hsl(2, 55%, 83%);
  --rose-main-pine: #31748f;
  --rose-main-pine-rgb: rgb(49, 116, 143);
  --rose-main-pine-hsl: hsl(197, 49%, 38%);
  --rose-main-foam: #9ccfd8;
  --rose-main-foam-rgb: rgb(156, 207, 216);
  --rose-main-foam-hsl: hsl(189, 43%, 73%);
  --rose-main-iris: #c4a7e7;
  --rose-main-iris-rgb: rgb(196, 167, 231);
  --rose-main-iris-hsl: hsl(267, 57%, 78%);
  --rose-main-highlight-low: #21202e;
  --rose-main-highlight-low-rgb: rgb(33, 32, 46);
  --rose-main-highlight-low-hsl: hsl(244, 18%, 15%);
  --rose-main-highlight-low-alpha: #6e6a861a;
  --rose-main-highlight-low-alpha-rgb: rgba(110, 106, 134, 0.1);
  --rose-main-highlight-low-alpha-hsl: hsla(249, 12%, 47%, 0.1);
  --rose-main-highlight-med: #403d52;
  --rose-main-highlight-med-rgb: rgb(64, 61, 82);
  --rose-main-highlight-med-hsl: hsl(249, 15%, 28%);
  --rose-main-highlight-med-alpha: #6e6a8633;
  --rose-main-highlight-med-alpha-rgb: rgba(110, 106, 134, 0.2);
  --rose-main-highlight-med-alpha-hsl: hsla(249, 12%, 47%, 0.2);
  --rose-main-highlight-high: #524f67;
  --rose-main-highlight-high-rgb: rgb(82, 79, 103);
  --rose-main-highlight-high-hsl: hsl(248, 13%, 36%);
  --rose-main-highlight-high-alpha: #6e6a8666;
  --rose-main-highlight-high-alpha-rgb: rgba(110, 106, 134, 0.4);
  --rose-main-highlight-high-alpha-hsl: hsla(249, 12%, 47%, 0.4);
  --rose-moon-base: #232136;
  --rose-moon-base-rgb: rgb(35, 33, 54);
  --rose-moon-base-hsl: hsl(246, 24%, 17%);
  --rose-moon-surface: #2a273f;
  --rose-moon-surface-rgb: rgb(42, 39, 63);
  --rose-moon-surface-hsl: hsl(248, 24%, 20%);
  --rose-moon-overlay: #393552;
  --rose-moon-overlay-rgb: rgb(57, 53, 82);
  --rose-moon-overlay-hsl: hsl(248, 21%, 26%);
  --rose-moon-muted: #6e6a86;
  --rose-moon-muted-rgb: rgb(110, 106, 134);
  --rose-moon-muted-hsl: hsl(249, 12%, 47%);
  --rose-moon-subtle: #908caa;
  --rose-moon-subtle-rgb: rgb(144, 140, 170);
  --rose-moon-subtle-hsl: hsl(248, 15%, 61%);
  --rose-moon-text: #e0def4;
  --rose-moon-text-rgb: rgb(224, 222, 244);
  --rose-moon-text-hsl: hsl(245, 50%, 91%);
  --rose-moon-love: #eb6f92;
  --rose-moon-love-rgb: rgb(235, 111, 146);
  --rose-moon-love-hsl: hsl(343, 76%, 68%);
  --rose-moon-gold: #f6c177;
  --rose-moon-gold-rgb: rgb(246, 193, 119);
  --rose-moon-gold-hsl: hsl(35, 88%, 72%);
  --rose-moon-rose: #ea9a97;
  --rose-moon-rose-rgb: rgb(234, 154, 151);
  --rose-moon-rose-hsl: hsl(2, 66%, 75%);
  --rose-moon-pine: #3e8fb0;
  --rose-moon-pine-rgb: rgb(62, 143, 176);
  --rose-moon-pine-hsl: hsl(197, 48%, 47%);
  --rose-moon-foam: #9ccfd8;
  --rose-moon-foam-rgb: rgb(156, 207, 216);
  --rose-moon-foam-hsl: hsl(189, 43%, 73%);
  --rose-moon-iris: #c4a7e7;
  --rose-moon-iris-rgb: rgb(196, 167, 231);
  --rose-moon-iris-hsl: hsl(267, 57%, 78%);
  --rose-moon-highlight-low: #2a283e;
  --rose-moon-highlight-low-rgb: rgb(42, 40, 62);
  --rose-moon-highlight-low-hsl: hsl(245, 22%, 20%);
  --rose-moon-highlight-low-alpha: #817c9c14;
  --rose-moon-highlight-low-alpha-rgb: rgba(129, 124, 156, 0.08);
  --rose-moon-highlight-low-alpha-hsl: hsla(249, 14%, 55%, 0.08);
  --rose-moon-highlight-med: #44415a;
  --rose-moon-highlight-med-rgb: rgb(68, 65, 90);
  --rose-moon-highlight-med-hsl: hsl(247, 16%, 30%);
  --rose-moon-highlight-med-alpha: #817c9c26;
  --rose-moon-highlight-med-alpha-rgb: rgba(129, 124, 156, 0.15);
  --rose-moon-highlight-med-alpha-hsl: hsla(249, 14%, 55%, 0.15);
  --rose-moon-highlight-high: #56526e;
  --rose-moon-highlight-high-rgb: rgb(86, 82, 110);
  --rose-moon-highlight-high-hsl: hsl(249, 15%, 38%);
  --rose-moon-highlight-high-alpha: #817c9c4d;
  --rose-moon-highlight-high-alpha-rgb: rgba(129, 124, 156, 0.3);
  --rose-moon-highlight-high-alpha-hsl: hsla(249, 14%, 55%, 0.3);
  --rose-dawn-base: #faf4ed;
  --rose-dawn-base-rgb: rgb(250, 244, 237);
  --rose-dawn-base-hsl: hsl(32, 57%, 95%);
  --rose-dawn-surface: #fffaf3;
  --rose-dawn-surface-rgb: rgb(255, 250, 243);
  --rose-dawn-surface-hsl: hsl(35, 100%, 98%);
  --rose-dawn-overlay: #f2e9e1;
  --rose-dawn-overlay-rgb: rgb(242, 233, 222);
  --rose-dawn-overlay-hsl: hsl(33, 43%, 91%);
  --rose-dawn-muted: #9893a5;
  --rose-dawn-muted-rgb: rgb(152, 147, 165);
  --rose-dawn-muted-hsl: hsl(257, 9%, 61%);
  --rose-dawn-subtle: #797593;
  --rose-dawn-subtle-rgb: rgb(121, 117, 147);
  --rose-dawn-subtle-hsl: hsl(248, 12%, 52%);
  --rose-dawn-text: #575279;
  --rose-dawn-text-rgb: rgb(87, 82, 121);
  --rose-dawn-text-hsl: hsl(248, 19%, 40%);
  --rose-dawn-love: #b4637a;
  --rose-dawn-love-rgb: rgb(180, 99, 122);
  --rose-dawn-love-hsl: hsl(343, 35%, 55%);
  --rose-dawn-gold: #ea9d34;
  --rose-dawn-gold-rgb: rgb(234, 157, 52);
  --rose-dawn-gold-hsl: hsl(35, 81%, 56%);
  --rose-dawn-rose: #d7827e;
  --rose-dawn-rose-rgb: rgb(215, 130, 126);
  --rose-dawn-rose-hsl: hsl(3, 53%, 67%);
  --rose-dawn-pine: #286983;
  --rose-dawn-pine-rgb: rgb(40, 105, 131);
  --rose-dawn-pine-hsl: hsl(197, 53%, 34%);
  --rose-dawn-foam: #56949f;
  --rose-dawn-foam-rgb: rgb(86, 148, 159);
  --rose-dawn-foam-hsl: hsl(189, 30%, 48%);
  --rose-dawn-iris: #907aa9;
  --rose-dawn-iris-rgb: rgb(144, 122, 169);
  --rose-dawn-iris-hsl: hsl(268, 21%, 57%);
  --rose-dawn-highlight-low: #f4ede8;
  --rose-dawn-highlight-low-rgb: rgb(244, 237, 232);
  --rose-dawn-highlight-low-hsl: hsl(25, 35%, 93%);
  --rose-dawn-highlight-low-alpha: #6e6a860d;
  --rose-dawn-highlight-low-alpha-rgb: rgba(110, 106, 134, 0.05);
  --rose-dawn-highlight-low-alpha-hsl: hsla(249, 12%, 47%, 0.05);
  --rose-dawn-highlight-med: #dfdad9;
  --rose-dawn-highlight-med-rgb: rgb(223, 218, 217);
  --rose-dawn-highlight-med-hsl: hsl(10, 9%, 86%);
  --rose-dawn-highlight-med-alpha: #6e6a8614;
  --rose-dawn-highlight-med-alpha-rgb: rgba(110, 106, 134, 0.08);
  --rose-dawn-highlight-med-alpha-hsl: hsla(249, 12%, 47%, 0.08);
  --rose-dawn-highlight-high: #cecacd;
  --rose-dawn-highlight-high-rgb: rgb(206, 202, 205);
  --rose-dawn-highlight-high-hsl: hsl(315, 4%, 80%);
  --rose-dawn-highlight-high-alpha: #6e6a8626;
  --rose-dawn-highlight-high-alpha-rgb: rgba(110, 106, 134, 0.15);
  --rose-dawn-highlight-high-alpha-hsl: hsla(249, 12%, 47%, 0.15);
}
